*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body::before {
  content: "";
  /* background-color: red; */
  height: 100%;
  position: absolute;
  top: 15%;
  right: 60%;
  background-image: url(images/bg-pattern-top.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

body::after {
  content: "";
  left: 50%;
  bottom: -50%;
  height: 100%;
  position: absolute;
  background-image: url(images/bg-pattern-bottom.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  /* bottom: 50%; */
  transform: translateY(-50%);
  margin: 0 auto;
  /* margin-top: 10%; */
  height: 30rem;
  width: 30rem;
  background-color: #fff;
  z-index: 3;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}

.upper-container {
  height: 35%;
  width: 100%;
  background-image: url(images/bg-pattern-card.svg);
  position: relative;
  align-items: center;
  margin-bottom: 5rem;
}

.upper-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 10rem;
  width: 10rem;
  background-image: url(images/image-victor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 5px solid #fff;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.number {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}
.text {
  font-size: 1.4rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 2rem;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  padding: 0 2rem 0 2rem;
}

.last-parts {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.special {
  font-size: 1rem;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

@media (max-width: 320px) {
  body::before {
    top: -37%;
    right: 50%;
  }
  body::after {
    left: 45%;
    bottom: -53%;
  }
}
